<app-header></app-header>
<div class="body-height w-100 text-light d-flex justify-content-center align-items-center">
  <div
    class="w-75 h-100 overflow-hidden d-flex align-items-center justify-content-between border p-5 rounded-5 position-relative bg-dark scale-down"
    *ngIf="movie; else error">
    <div class="d-flex justify-content-center align-items-center position-absolute w-200">
      <img src={{movie.Poster}} alt={{movie.Title}} class="w-100 background-img z-1">
    </div>

    <div class="image-frame rounded-5 overflow-hidden border border-1 border-light z-2">
      <img src={{movie.Poster}} alt={{movie.Title}} class="h-100 rounded-5">
    </div>

    <div class="w-75 px-5 fw-light z-2">
      <h1 class="fs-2">{{movie.Title}} ({{movie.Year}})</h1>
      <h1 class="fs-6 fw-light mb-4">{{movie.Plot}}</h1>
      <p class="m-0"><span class="text-warning">Actors:</span> {{movie.Actors}}</p>
      <p class="m-0"><span class="text-warning">Duration:</span> {{movie.Runtime}}</p>
      <p class="m-0"><span class="text-warning">Director:</span> {{movie.Director}}</p>
      <p class="m-0"><span class="text-warning">Writer:</span> {{movie.Writer}}</p>
      <p class="m-0"><span class="text-warning">Released:</span> {{movie.Released}}</p>
      <p class="m-0"><span class="text-warning">Language:</span> {{movie.Language}}</p>
      <p class="m-0"><span class="text-warning">Country:</span> {{movie.Country}}</p>
      <p class="m-0"><span class="text-warning">Awards:</span> {{movie.Awards}}</p>
      <p class="m-0"><span class="text-warning">Awards:</span> {{movie.Genre}}</p>
      <a class="mt-5 w-50 mx-auto btn btn-warning mb-3 rounded-pill d-flex justify-content-center align-items-center p-3"
        routerLink="/movies">See more movies
        <mat-icon><span class="material-symbols-outlined ms-1 ">
            arrow_forward
          </span></mat-icon></a>
    </div>

  </div>
  <ng-template #error>
    <app-movie-not-found></app-movie-not-found>
  </ng-template>
</div>
