<div class="d-flex justify-content-center align-items-center flex-column">
  <img src="https://cdn.dribbble.com/users/1568191/screenshots/3468993/videezy2.gif" class="mode w-50" alt="">
  <h2 class="display-6">Movie is not found</h2>
  <a routerLink="/movies"
    class="btn btn-warning btn-lg w-50 rounded-pill d-flex justify-content-center align-items-center mt-4">
    Explore All Movies
    <mat-icon><span class="material-symbols-outlined ms-1 ">
        arrow_forward
      </span></mat-icon>
  </a>
</div>
